body {
  background-color: #d5a790;
  min-height: 90vh;
  /* box-sizing: border-box; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  /* font-size: 40pt; */
}

.container {
  height: auto;
  min-height: 400px;
  max-width: 900px;
  min-width: 250px;
  background: #f1f5f8;
  background-image: linear-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 12px 26px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 20px 40px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: rgb(255, 188, 73);
  font-size: 14pt;
  transition: transform 0.3s;
  user-select: none;
}

.heading h1:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.form input {
  padding: 0px 0px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px rgb(255, 188, 73);
  font-family: "Architects Daughter", cursive;
  font-size: 12pt;
  color: hsl(0, 0%, 0%);
  width: 100%;
  margin-bottom: 20px;
}

button {
  margin-top: 2px;
  padding: 0;
  text-align: center;
  border: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-family: "Architects Daughter", cursive;
  font-size: 8pt;
  text-decoration: none;
  border-radius: 5px;
  background-color: transparent;
}

button span {
  background: #f1f5f8;
  padding: 5px 10px;
  margin-left: 10px;
  /* margin-right: 10px; */
  bottom: 10px;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
  transition: transform 0.12s;
}

button span:hover{
  cursor: pointer;
  background-color: rgb(255, 199, 103);
}

button span:active{
  cursor: pointer;
  transform: scale(0.9);
  background-color: rgb(255, 175, 36);
}

#clear:hover{
  background-color: rgb(255, 155, 155);
}

#clear:active{
  cursor: pointer;
  transform: scale(0.9);
  background-color: rgb(255, 0, 0);
}

li {
  user-select: none;
  text-align: left;
  position: relative;
  padding: 15px;
  font-size: 12pt;
  transition: all 0.3s;
}

li:hover{
  cursor: pointer;
  transform: scale(1.06);
}
