footer {
    margin-top: 40px;
    text-align: center;
    bottom: 10px;
  }
  
  footer p {
    text-align: center;
    color: #31bddd;
    transition: all 0.3s;
    font-size: 12pt;
  }

  footer p:hover{
    transform: scale(1.2);
    cursor: pointer;
    text-decoration: underline;
  }